//上下跳跃3次
@keyframes upDown-y-3 {
  0% {
    top: 0;
  }
  25% {
    top: -15%;
  }
  50% {
    top: 0;
  }
  75% {
    top: -5%;
  }
  100% {
    top: 0;
  }
}


//左右展开1次
@keyframes spread-y-1 {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
